
    body {
        background-color: #23a6d5;
    }
    
        nav{
            max-width: 900px;
            margin: auto;
            background-color: #333;
            font-size: 20px;
            margin-top: 50px;
        }
        .menu-horizontal{
            list-style: none;
            display: flex;
            justify-content: space-around;
        }
        .menu-horizontal > li > a{
            display: block;
            padding: 15px 20px;
            color: white;
            text-decoration: none;
        }
        .menu-horizontal > li:hover{
            background-color: red;
        }
        .menu-vertical{
            position: absolute;
            display: none;
            list-style: none;
            width: 200px;
            background-color: rgba(0, 0, 0, .5);
        }
        .menu-horizontal li:hover .menu-vertical{
            display: block;
        }
        .menu-vertical li:hover{
            background-color: black;
        }
        
        .menu-vertical li a{
            display: block;
            color: white;
            text-decoration: none;
            padding: 15px 15px 15px 20px;
        }


    .reloj{
        float: right;
    }
    #anio{
        background-color: black;
        color: white;
        font-weight:600;
        width: 120px;
        height: 20px;
        text-align: center;
        border: 3px solid gray;
        
    }

    #dia{
        background-color: black;
        color: white;
        font-weight: bolder;
        width: 120px;
        height: 20px;
        text-align: center;
        border: 3px solid gray;
      
    }

    #mes{
        background-color: black;
        color: white;
        font-weight: bolder;
        width: 120px;
        height: 20px;
        text-align: center;
        border: 3px solid gray;
        
    }



    li {
        list-style: none;
    }

    p, h1, h2, li {
        font-family: 'Montserrat', sans-serif;
    }

    .bn29 {
        border: none;
        padding: 0.8em 2.5em;
        outline: none;
        color: white;
        font-style: 1.2em;
        position: relative;
        z-index: 1;
        cursor: pointer;
        background: none;
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
      }
      
      .bn29:before,
      .bn29:after {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 10em;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        width: 105%;
        height: 105%;
        content: "";
        z-index: -2;
        background-size: 400% 400%;
        background: linear-gradient(
          60deg,
          #f79533,
          #f37055,
          #ef4e7b,
          #a166ab,
          #5073b8,
          #1098ad,
          #07b39b,
          #6fba82
        );
      }
      
      .bn29:before {
        -webkit-filter: blur(7px);
        filter: blur(7px);
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        -webkit-animation: pulse 10s infinite ease;
        animation: pulse 10s infinite ease;
      }
      
      .bn29:after {
        -webkit-filter: blur(0.3px);
        filter: blur(0.3px);
      }
      
      .bn29:hover:before {
        width: 115%;
        height: 115%;
      }

      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .logo{
        position: absolute;
        left: -10px; top: 0;
      }

      .pagprincipal{
        position: relative;
        margin: 0 auto;
        width: 922px;
        margin-top: 200px;
      }
      
      .footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem;
        background: #333;
        color: white;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
      }

      .form{
        margin-top: 150px;
      }

      .pesos {
        margin-left: 500px;
        margin-top: 70px;
      }

      #calendario {
        position: relative;
        margin: 0 auto;
        width: 922px;
        margin-top: 100px;

      }
      