body {
    background-color: bisque;
}

p,h2,h3,li,a{
    font-family: 'Montserrat', sans-serif;
}

li {list-style:none;}

#img-logo {
    float: left;
    height: 60px;
}

#menu{
    background-color: rgb(162, 255, 0);
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: green;
    text-decoration: none;
    display: block;
    padding: 20px 80px;
}

#menu ul li a:hover{
    background-color: #CDFEAA;
}

.cabecera {
        display: flex;
        justify-content: center;
}


p, h2, h3 {
    color:green
}

a:link, a:visited, a:active {
    color: green;
    text-decoration:none;
}

a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }


.img-top3 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

